.bg-image {
    background-image: url("./../img/loginpage.png");
    background-size: cover;
  }

  .login_box {
    background-color: #E8DED2;
    margin-bottom: 20%;
    border-radius: 4%;
  }
  .icon-img {
    height: 14%;
    width: 14%;
    margin-top: 5%;
    margin-bottom: 4%;
    margin-left: 40%;
    justify-content: center;
  }
  
  .email-address {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 100%;
    margin-bottom: 2%;
  }

  .isi-email {
    margin-bottom: 3%;
    margin-left: 2%;
    margin-right: 4%;
  }

  .isi-password {
    margin-bottom: 3%;
    margin-left: 2%;
    margin-right: 4%;
  }

  .password {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 100%;
    margin-bottom: 2%;
  }

  .check-remember {
    margin-left: 2%;
    margin-bottom: 3%;
  }
  .Remember-me {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 100%;
    margin-left: 1%;
  }
  .submit-button {
    margin-left: 2%;
    margin-bottom: 1%;
    width: 94%;
  }
  .forgot-password {
    margin-left: 75%;
  }