.bg {
  background-image: url("./../img/landingpage.png");

  background-size: cover;
  padding-bottom: 16%;
}
.bg img {
  width: 100%;
}
.right {
  font-family: Montserrat;
  margin-top: 5%;
  font-weight: 700;
}
.right p {
  background: #e8ded2;
  padding: 1%;
  border-radius: 5px;
  width: 92%;
  white-space: pre-wrap;
}

.school {
  margin-top: 6%;
  margin-bottom: 6%;
}

.table {
  background: #e8ded2;
}
