.bg-Mycolor {
  background-color: #e8ded2;
}

* {
  box-sizing: content-box;
}

.tombol {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.bagibuku {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 37px;
  display: flex;
  align-items: center;
  text-align: center;

  color: black;
}

.bg-image {
  background-image: url("img/landingpage.png");
  background-size: cover;
}

/* Group 3 */

/* position: absolute;
width: 252px;
height: 67px;
left: 169px;
top: 709px; */

/* Rectangle 4 */

/* position: absolute;
width: 252px;
height: 67px;
left: 169px;
top: 709px;

background: #056676;
border-radius: 10px; */

/* Yuk Donate! */
.yuk-donate {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 37px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

/* Bagibuku */
.bagi-buku {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.about-us {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #ffffff;
}

.how-works {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
}

/* Group 4 1 */
.pos-logo {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 160px;
  top: 42px;
}

/* Component 1 */
.stud {
  position: absolute;
  width: 734px;
  height: auto;
  left: 60%;
  top: 40%;
  max-width: 100%;
}

/* Group 3 */

/* position: absolute;
width: 252px;
height: 67px;
left: 169px;
top: 709px; */

/* Rectangle 4 */
.tombol-2 {
  background: #056676;
  border-radius: 10px;

  /* Yuk Donate! */
}
/* position: absolute;
width: 252px;
height: 65px;
left: 169px;
top: 709px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 37px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF; */

a {
  text-decoration: none;
}

.judul {
  font-weight: bolder;
}

.txt {
  color: #ffffff;
}

.tebal {
  font-weight: bolder;
}
