.bg-Mycolor{
  background-color: #E8DED2;
}

*{
  box-sizing: content-box;
}

.tombol{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 37px;
  display: flex;
  align-items: center;
  text-align: center;

  color:black;


}

.bagibuku{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 37px;
  display: flex;
  align-items: center;
  text-align: center;

  color:black;

}

.bg-image{
  background-image: url("img/landingpage.png");
  background-size: cover;
  height: 100vh;

}

/* Group 3 */

/* position: absolute;
width: 252px;
height: 67px;
left: 169px;
top: 709px; */



/* Rectangle 4 */

/* position: absolute;
width: 252px;
height: 67px;
left: 169px;
top: 709px;

background: #056676;
border-radius: 10px; */


/* Yuk Donate! */
.yuk-donate{
  position: absolute;
  width: 252px;
  height: 65px;
  left: 80px;
  top: 500px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
}



/* Bagibuku */
.bagi-buku{
  position: absolute;
  width: 311px;
  height: 113px;
  left: 80px;
  top: 300px;

  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 85px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

 
.about-us{
  position: absolute;
  width: 709px;
  height: 141px;
  left: 80px;
  top: 380px;

  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
  display: flex;
  align-items: center;
  text-align: justify;

  color: #FFFFFF;
}


.how-works{
  position: absolute;
  width: 386px;
  height: 63px;
  left: 350px;
  top: 500px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
}

/* Group 4 1 */
.pos-logo{
  position: absolute;
  width: 80px;
  height: 80px;
  left: 160px;
  top: 42px;
}

/* Component 1 */
.stud{
  position: absolute;
  width: 734px;
  height: auto;
  left: 60%;
  top: 40%;
  max-width: 100%;
}


  /* Group 3 */

/* position: absolute;
width: 252px;
height: 67px;
left: 169px;
top: 709px; */



/* Rectangle 4 */
.tombol-2{

background: #056676;
border-radius: 10px;


/* Yuk Donate! */
}
/* position: absolute;
width: 252px;
height: 65px;
left: 169px;
top: 709px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 37px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF; */

a{
  text-decoration: none;
}
